.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: $menu-height;
  background-color: $white-color;
  z-index: 10;

  // position: absolute;
  .bar-icon,
  .close-icon {
    display: none;

    @include mobile {
      display: block;
      height: 40px;
      width: 40px;
      color: $black-color;
      cursor: pointer;
      left: calc(100vw - 70px);
      position: absolute;
      z-index: 20;
      top: 30px;
    }
  }

  .header-inbox {
    margin: 0 auto;
    display: flex;
    height: $menu-height;
    top: 0;
    max-width: $max-web-width;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    @include mobile {
      max-width: calc(100vw - 60px);
      margin: 0;
      left: 0;
    }

    .title-block {
      position: relative;
      flex: 1;

      .title {
        line-height: $menu-height;
        text-align: left;
      }
    }

    .menu-block {
      position: relative;
      flex: 3;
      margin: 0;

      @include mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: var(--real100vh);
        background-color: $primary-color1;
      }

      .menu-list {
        margin: 0;
        float: right;
        max-height: $menu-height;

        @include mobile {
          margin-top: $menu-height;
          width: 100%;
          max-height: var(--real100vh);
          display: flex;
          flex-direction: column;
        }

        .menu-item {
          list-style: none;
          float: left;
          line-height: $menu-height;
          margin: 0 10px;
          cursor: pointer;
          border-top: $white-color 1px solid;

          &:hover {
            color: $complementary-color1;
          }

          @include mobile {
            &:last-child {
              border-bottom: $white-color 1px solid;
            }
          }
        }

        .menu-click {
          color: $complementary-color1;
        }
      }
    }
  }
}
