@import 'variables';

.container {
  margin: 0;
  min-height: $content-min-height;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding-top: $menu-height;
  width: 100%;
  background-color: $white-color;

  @import 'menu';

  .content:not(.index-page) {
    @keyframes web-fade-in {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    background-color: $primary-color1;
    min-height: calc(100vh - #{$menu-height});
    width: 100%;
    animation: web-fade-in; /*動畫名稱*/
    animation-duration: 0.4s; /*動畫持續時間*/
  }

  @import 'aboutMe';
}
